
:root  {
  --background: 37 83% 95%; 
  --foreground: 342 5% 0%;
  --card: 37 50% 90%;
  --card-foreground: 342 5% 10%;
  --popover: 37 83% 95%; 
  --popover-foreground: 342 100% 0%;
  --primary: 342 92.4% 53.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 342 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 304 30% 85%;
  --muted-foreground: 342 5% 35%;
  --accent: 37 83% 95%; 
  --accent-foreground: 342 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 342 5% 90%;
  --border: 342 30% 50%;
  --input: 342 30% 18%;
  --ring: 342 92.4% 53.5%;
  --radius: 0.5rem;
}
.dark  {
  --background: 360 50% 5%;
  --foreground: 342 5% 90%;
  --card: 342 50% 0%;
  --card-foreground: 342 5% 90%;
  --popover: 342 50% 5%;
  --popover-foreground: 342 5% 90%;
  --primary: 342 92.4% 53.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 342 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 304 30% 15%;
  --muted-foreground: 342 5% 60%;
  --accent: 304 30% 15%;
  --accent-foreground: 342 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 342 5% 90%;
  --border: 342 30% 18%;
  --input: 342 30% 18%;
  --ring: 342 92.4% 53.5%;
  --radius: 0.5rem;
}
